<footer class="p-4 bg-white md:px-6 md:py-8 dark:bg-gray-900 border-t border-gray-200 dark:border-gray-800">
  <div class="container mx-auto">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a href="/" class="flex items-center mb-4 sm:mb-0">
        <img src="/resources/img/thewebview.png" class="mr-3 h-4" alt="thewebview Logo">
      </a>
      <ul class="flex flex-wrap items-center mb-6 text-sm text-gray-500 sm:mb-0 dark:text-gray-400">
        <li>
          <a href="/login" class="hover:underline">Вход для сотрудников</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
