<nav class="bg-black w-full	py-4 px-6 border-b border-gray-800 z-40">
  <div class="mx-auto w-auto container flex flex-row justify-between content-center items-center z-40">
    <a href="/" class="mr-8">
      <img src="/resources/img/thewebview.png" alt="TheWebview Logo" class="h-4">
    </a>

    <ul class="flex flex-rows text-white space-x-4">
      <li class="text-gray-300 hover:text-white">

      </li>
    </ul>

    <div>
      <a href="/builder" class="mr-4">
        <button type="button" class="text-gray-100 bg-black border border-gray-800 focus:outline-none hover:bg-gray-800 font-medium rounded-lg text-sm px-4 py-1">
          Новый исходник
        </button>
      </a>

      <a href="/check">
        <button type="button" class="text-gray-100 bg-black border border-gray-800 focus:outline-none hover:bg-gray-800 font-medium rounded-lg text-sm px-4 py-1">
          Проверить исходник
        </button>
      </a>
    </div>
  </div>
</nav>
