{% extends "root/base.twig" %}

{% block base %}
  {% include "components/nav.twig" %}

  <div class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
        {% if type == "STATUS_STARTED_BUILD" %}
          Началась сборка приложения ...
        {% elseif type == "STATUS_BUILD" %}
          Приложение успешно собрано!
        {% elseif type == "STATUS_ERROR" %}
          Ошибка при сборке
        {% else %}
          Идет сборка приложения ...
        {% endif %}
      </h2>

      {% if type == "STATUS_STARTED_BUILD" %}
        <p class="text-gray-500 dark:text-gray-400">
          Сборка вашего приложения успешно началась! <br>
          Это может занять от 5 до 15 минут. <br>
          Вы можете закрыть эту страницу, но не теряйте ссылку на нее, чтобы скачать готовый файл
        </p>
      {% elseif type == "STATUS_BUILD" %}
        <p class="text-gray-500 dark:text-gray-400">
          Ваш исходник успешно собран, вы можете скачать APK файл уже сейчас. <br>
          Спасибо за использование сервиса!
        </p>
      {% elseif type == "STATUS_ERROR" %}
        <p class="text-gray-500 dark:text-gray-400">
          При сборке произошла неизвестная ошибка.
        </p>
      {% else %}
        <p class="text-gray-500 dark:text-gray-400">
          Сборка может занять от 5 до 15 минут
        </p>
      {% endif %}

      {% if type == "STATUS_BUILD" %}
        <a href="/build/download/{{ id }}" target="_blank">
          <button type="button" class="mt-8 py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Скачать APK
          </button>
        </a>
      {% endif %}

    </div>
  </div>
{% endblock %}