{% extends "root/base.twig" %}

{% block base %}
  {% include "components/nav.twig" %}

  <div class="bg-white flex justify-center">
    <form action="" method="post" class="flex flex-col justify-center my-12">
      <h1 class="text-5xl text-center w-full font-semibold text-gray-900 dark:text-white">
        Творите!
      </h1>

      <p class="text-center w-full opacity-50 mt-4">
        Укажите название пакета, а мы сделаем всю <br>
        рутину за вас
      </p>

      <img src="/resources/img/6199206_3190325.jpg" class="h-64 my-4 object-contain">

      <div class="mt-8 mb-6 w-full" x-data="{ input: '' }">
        <label for="packageName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Введите название пакета</label>

        <div class="w-full flex content-center items-center">
          <input x-model="input" type="text" name="packageName" id="packageName" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="com.thewebview.app" required="">

          <a href="#" class="ml-4" title="Сгенерировать название" @click.prevent="input = 'app.' + window.wordDic.random() + '.' + window.wordDic.random()">
            <svg class="w-6 h-6 text-blue-700 hover:text-blue-800" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd"></path></svg>
          </a>
        </div>
      </div>

      <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        Сгенерировать
      </button>
    </form>
  </div>

  {% include "components/footer.twig" %}
{% endblock %}