{% extends "root/base.twig" %}

{% block base %}
  {% include "components/nav.twig" %}

  <div class="bg-white flex justify-center">
    <form action="" method="post" class="flex flex-col justify-center my-12">
      <h1 class="text-5xl text-center w-full font-semibold text-gray-900 dark:text-white">
        Готово!
      </h1>

      <p class="text-center w-full opacity-50 mt-4">
        Ваш проект успешно создан. <br>
        Скачайте его, откройте в Android Studio и начните творить!
      </p>

      <img src="/resources/img/13416088_5244020.jpg" class="h-64 my-4 object-contain">

      <a href="{{ url }}" class="mt-8 w-full">
        <button type="button" class="w-full py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
          Скачать
        </button>
      </a>

      <small class="text-gray-500">
        Для вас создан исходник с названием "{{ appName }}"<br> и названием пакета {{ packageName }}
      </small>
    </form>
  </div>

  {% include "components/footer.twig" %}

{% endblock %}