{% extends "root/base.twig" %}

{% block base %}
  <div x-data="{ open: false }">
    <template x-if="open">
      <div class="relative z-50">
        <div class="fixed inset-0 bg-black bg-opacity-50 transition-opacity"></div>

        <div class="fixed inset-0 z-50 overflow-y-auto">
          <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
              <div class="bg-white px-4 pt-5 pb-5 sm:p-6 sm:pb-5">
                <div class="sm:flex sm:items-start">
                  <div class="mt-3 text-center sm:mt-0  sm:text-left">
                    <div class="mb-4 flex items-center">
                      <svg class="mr-3 w-4 h-4 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                        <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
                      </svg>
                      <span class="sr-only">Loading...</span>

                      <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">
                        Проверяем исходник
                      </h3>
                    </div>

                    <div class="mt-2">
                      <p class="block text-sm text-gray-500">
                        Мы загружаем и проверяем ваш исходник. <br>
                        Это может занять до 1 минуты. <br>
                      </p>

                      <strong class="block mt-4 text-sm">Пожалуйста, не закрывайте эту страницу</strong>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>

    <section class="h-screen bg-gray-100 dark:bg-gray-900 flex items-stretch flex-col">
      {% include "components/nav.twig" %}

      <div class="px-12 py-12 h-full">
        <div class="border-dashed border-2 border-gray-400 dark:border-gray-600 h-full rounded-xl">

          <div class="flex justify-center items-center w-full h-full">
            <label for="dropzone-file" class="flex flex-col justify-center items-center">
              <div class="flex flex-col justify-center items-center pt-5 pb-6 cursor-pointer">
                <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Нажмите, чтобы загрузить</span> или перетащите</p>
                <p class="text-xs text-gray-500 dark:text-gray-400">ZIP, RAR. Размером до {{ post_max_size }}</p>
              </div>


              <form method="post" enctype="multipart/form-data" action="/upload" x-ref="form">
                <input id="dropzone-file" name="file" type="file" accept=".zip,.rar" class="hidden" @change.prevent="$refs.form.submit(); open = true"/>
              </form>
            </label>
          </div>

        </div>
      </div>
    </section>
  </div>
{% endblock %}