{% extends "root/base.twig" %}

{% block base %}
  <section class="h-screen bg-gray-100 dark:bg-gray-900 flex items-stretch flex-col">
    {% include "components/nav.twig" %}

    <div class="bg-white dark:bg-gray-900">
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
          Все чисто! Исходник в отличном состоянии
        </h2>

        <p class="text-gray-500 dark:text-gray-400">
          Все отлично, все файлы в вашем исходнике полностью уникальны. <br/>
          Вы так-же можете скомпилировать APK файл прямо на данном сайте.
        </p>

        <a href="/build/{{ id }}">
          <button type="button" class="mt-8 py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Собрать APK
          </button>
        </a>
      </div>
    </div>
  </section>
{% endblock %}