{% extends "root/base.twig" %}

{% block base %}
  {% include "components/nav.twig" %}

  <section x-data="{ open: false }" >
    <template x-if="open">
      <div class="relative z-50" @click="open = false">
        <div class="fixed inset-0 bg-black bg-opacity-50 transition-opacity"></div>

        <div class="fixed inset-0 z-50 overflow-y-auto">
          <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
              <div class="bg-white px-4 pt-5 pb-5 sm:p-6 sm:pb-5">
                <div class="sm:flex sm:items-start">
                  <div class="mt-3 text-center sm:mt-0  sm:text-left">
                    <h3 class="text-lg font-medium leading-6 text-gray-900" id="modal-title">
                      Готово!
                    </h3>

                    <div class="mt-2">
                      <p class="block text-sm text-gray-500">
                        Откройте исходник в Android Studio и начните писать свой код. <br>
                        В стартовом коде установлены все необходимые библиотки и импортированы все нужные классы.
                      </p>

                      <strong class="block mt-4 text-sm">Пожалуйста, делайте свой код уникальным</strong>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>

    <div class="overflow-hidden dark:border-b border-gray-800/50">
      <div class="py-16 sm:px-2 lg:relative lg:py-20 lg:px-0">
        <div class="mx-auto container grid grid-cols-1 items-center gap-y-16 gap-x-8 px-4 lg:max-w-8xl lg:grid-cols-2 xl:gap-x-16">
          <div class="relative z-10 md:text-center lg:text-left">
            <div class="relative">
              <p class="inline bg-white bg-clip-text font-bold text-5xl tracking-tight text-transparent">
                Ваш личный помощник в написании приложений с WebView
              </p>
              <p class="mt-3 text-2xl tracking-tight text-slate-400">
                Интерактивный гайд-лайн для создания вашего приложения
              </p>
              <div class="mt-8 flex gap-4 md:justify-center lg:justify-start">
                <a @click="open = true" class="rounded-full bg-sky-300 py-2 px-4 text-sm font-semibold text-slate-900 hover:bg-sky-200 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-sky-300/50 active:bg-sky-500" href="/resources/download/Стартовый%20пакет.zip">
                  Скачать стартовый исходник
                </a>
              </div>
            </div>
          </div>

          <div class="relative lg:static xl:pl-10">
            <div class="absolute inset-x-[-50vw] -top-32 -bottom-48 [mask-image:linear-gradient(transparent,white,white)] dark:[mask-image:linear-gradient(transparent,white,transparent)] lg:left-[calc(50%+14rem)] lg:right-0 lg:-top-32 lg:-bottom-32 lg:[mask-image:none] lg:dark:[mask-image:linear-gradient(white,white,transparent)]">
              <svg aria-hidden="true" viewBox="0 0 668 1069" width="668" height="1069" fill="none" class="absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 lg:left-0 lg:translate-x-0 lg:translate-y-[-60%]">
                <defs>
                  <clipPath id=":R1l6:-clip-path">
                    <path fill="#fff" transform="rotate(-180 334 534.4)" d="M0 0h668v1068.8H0z"></path>
                  </clipPath>
                </defs>
                <g opacity=".4" clip-path="url(#:R1l6:-clip-path)" stroke-width="4">
                  <path opacity=".3" d="M584.5 770.4v-474M484.5 770.4v-474M384.5 770.4v-474M283.5 769.4v-474M183.5 768.4v-474M83.5 767.4v-474" stroke="#334155"></path>
                  <path d="M83.5 221.275v6.587a50.1 50.1 0 0 0 22.309 41.686l55.581 37.054a50.102 50.102 0 0 1 22.309 41.686v6.587M83.5 716.012v6.588a50.099 50.099 0 0 0 22.309 41.685l55.581 37.054a50.102 50.102 0 0 1 22.309 41.686v6.587M183.7 584.5v6.587a50.1 50.1 0 0 0 22.31 41.686l55.581 37.054a50.097 50.097 0 0 1 22.309 41.685v6.588M384.101 277.637v6.588a50.1 50.1 0 0 0 22.309 41.685l55.581 37.054a50.1 50.1 0 0 1 22.31 41.686v6.587M384.1 770.288v6.587a50.1 50.1 0 0 1-22.309 41.686l-55.581 37.054A50.099 50.099 0 0 0 283.9 897.3v6.588" stroke="#334155"></path>
                  <path d="M384.1 770.288v6.587a50.1 50.1 0 0 1-22.309 41.686l-55.581 37.054A50.099 50.099 0 0 0 283.9 897.3v6.588M484.3 594.937v6.587a50.1 50.1 0 0 1-22.31 41.686l-55.581 37.054A50.1 50.1 0 0 0 384.1 721.95v6.587M484.3 872.575v6.587a50.1 50.1 0 0 1-22.31 41.686l-55.581 37.054a50.098 50.098 0 0 0-22.309 41.686v6.582M584.501 663.824v39.988a50.099 50.099 0 0 1-22.31 41.685l-55.581 37.054a50.102 50.102 0 0 0-22.309 41.686v6.587M283.899 945.637v6.588a50.1 50.1 0 0 1-22.309 41.685l-55.581 37.05a50.12 50.12 0 0 0-22.31 41.69v6.59M384.1 277.637c0 19.946 12.763 37.655 31.686 43.962l137.028 45.676c18.923 6.308 31.686 24.016 31.686 43.962M183.7 463.425v30.69c0 21.564 13.799 40.709 34.257 47.529l134.457 44.819c18.922 6.307 31.686 24.016 31.686 43.962M83.5 102.288c0 19.515 13.554 36.412 32.604 40.645l235.391 52.309c19.05 4.234 32.605 21.13 32.605 40.646M83.5 463.425v-58.45M183.699 542.75V396.625M283.9 1068.8V945.637M83.5 363.225v-141.95M83.5 179.524v-77.237M83.5 60.537V0M384.1 630.425V277.637M484.301 830.824V594.937M584.5 1068.8V663.825M484.301 555.275V452.988M584.5 622.075V452.988M384.1 728.537v-56.362M384.1 1068.8v-20.88M384.1 1006.17V770.287M283.9 903.888V759.85M183.699 1066.71V891.362M83.5 1068.8V716.012M83.5 674.263V505.175" stroke="#334155"></path>
                  <circle cx="83.5" cy="384.1" r="10.438" transform="rotate(-180 83.5 384.1)" fill="#1E293B" stroke="#334155"></circle>
                  <circle cx="83.5" cy="200.399" r="10.438" transform="rotate(-180 83.5 200.399)" stroke="#334155"></circle>
                  <circle cx="83.5" cy="81.412" r="10.438" transform="rotate(-180 83.5 81.412)" stroke="#334155"></circle>
                  <circle cx="183.699" cy="375.75" r="10.438" transform="rotate(-180 183.699 375.75)" fill="#1E293B" stroke="#334155"></circle>
                  <circle cx="183.699" cy="563.625" r="10.438" transform="rotate(-180 183.699 563.625)" fill="#1E293B" stroke="#334155"></circle>
                  <circle cx="384.1" cy="651.3" r="10.438" transform="rotate(-180 384.1 651.3)" fill="#1E293B" stroke="#334155"></circle>
                  <circle cx="484.301" cy="574.062" r="10.438" transform="rotate(-180 484.301 574.062)" fill="#0EA5E9" fill-opacity=".42" stroke="#0EA5E9"></circle>
                  <circle cx="384.1" cy="749.412" r="10.438" transform="rotate(-180 384.1 749.412)" fill="#1E293B" stroke="#334155"></circle>
                  <circle cx="384.1" cy="1027.05" r="10.438" transform="rotate(-180 384.1 1027.05)" stroke="#334155"></circle>
                  <circle cx="283.9" cy="924.763" r="10.438" transform="rotate(-180 283.9 924.763)" stroke="#334155"></circle>
                  <circle cx="183.699" cy="870.487" r="10.438" transform="rotate(-180 183.699 870.487)" stroke="#334155"></circle>
                  <circle cx="283.9" cy="738.975" r="10.438" transform="rotate(-180 283.9 738.975)" fill="#1E293B" stroke="#334155"></circle>
                  <circle cx="83.5" cy="695.138" r="10.438" transform="rotate(-180 83.5 695.138)" fill="#1E293B" stroke="#334155"></circle>
                  <circle cx="83.5" cy="484.3" r="10.438" transform="rotate(-180 83.5 484.3)" fill="#0EA5E9" fill-opacity=".42" stroke="#0EA5E9"></circle>
                  <circle cx="484.301" cy="432.112" r="10.438" transform="rotate(-180 484.301 432.112)" fill="#1E293B" stroke="#334155"></circle>
                  <circle cx="584.5" cy="432.112" r="10.438" transform="rotate(-180 584.5 432.112)" fill="#1E293B" stroke="#334155"></circle>
                  <circle cx="584.5" cy="642.95" r="10.438" transform="rotate(-180 584.5 642.95)" fill="#1E293B" stroke="#334155"></circle>
                  <circle cx="484.301" cy="851.699" r="10.438" transform="rotate(-180 484.301 851.699)" stroke="#334155"></circle>
                  <circle cx="384.1" cy="256.763" r="10.438" transform="rotate(-180 384.1 256.763)" stroke="#334155"></circle>
                </g>
              </svg>
            </div>
            <div class="relative">
              <div class="absolute inset-0 rounded-2xl bg-gradient-to-tr from-sky-300 via-sky-300/70 to-blue-300 opacity-10 blur-lg"></div>
              <div class="absolute inset-0 rounded-2xl bg-gradient-to-tr from-sky-300 via-sky-300/70 to-blue-300 opacity-10"></div>
              <div class="relative rounded-2xl bg-[#0A101F]/80 ring-1 ring-white/10 backdrop-blur">
                <div class="absolute -top-px left-20 right-11 h-px bg-gradient-to-r from-sky-300/0 via-sky-300/70 to-sky-300/0"></div>
                <div class="absolute -bottom-px left-11 right-20 h-px bg-gradient-to-r from-blue-400/0 via-blue-400 to-blue-400/0"></div>
                <div class="pl-4 pt-4">
                  <svg aria-hidden="true" viewBox="0 0 42 10" fill="none" class="h-2.5 w-auto stroke-slate-500/30 cursor-pointer">
                    <circle cx="5" cy="5" r="4.5"></circle>
                    <circle cx="21" cy="5" r="4.5"></circle>
                    <circle cx="37" cy="5" r="4.5"></circle>
                  </svg>
                  <div class="mt-4 flex space-x-2 text-xs">
                    <div class="flex h-6 rounded-full bg-gradient-to-r from-sky-400/30 via-sky-400 to-sky-400/30 p-px font-medium text-sky-300">
                      <div class="flex items-center rounded-full px-2.5 bg-slate-800">WebView.kt</div>
                    </div>
                    <div class="flex h-6 rounded-full text-slate-500">
                      <div class="flex items-center rounded-full px-2.5">build.gradle</div>
                    </div>
                  </div>

                  <div class="block w-full text-white mt-4 pb-4">
                    <div class="block opacity-75 text-sm px-2">
                      <span class="w-full block">WebView(<span class="text-orange-200 font-bold">this</span>).run {</span>
                      <span class="w-full block pl-4">settings.apply {}</span>
                      <span class="w-full block pl-4">webViewClient = ...</span>
                      <span class="w-full block pl-4">webChromeClient = ...</span>
                      <span class="w-full block">}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-12 dark:bg-gray-900">
    <div class="grid grid grid-cols-12 gap-4 lg:gap-8 xl:gap-4 container mx-4 lg:mx-6 xl:mx-auto">
      <div class="col-span-3 md:col-span-3 lg:col-span-3 xl:col-span-2 hidden md:block">
        <ol role="list" class="mt-4 space-y-3 text-sm">
          <li>
            <h3>
              <a class="text-sky-500" href="/#quick-start">Начало</a>
            </h3>

            <ol role="list" class="mt-2 space-y-3 pl-5 text-slate-500 dark:text-slate-400">
              <li>
                <a class="hover:text-slate-600 dark:hover:text-slate-300" href="#create-project">Создание проекта</a>
              </li>
              <li>
                <a class="hover:text-slate-600 dark:hover:text-slate-300" href="#install-libs">Установка библиотек</a>
              </li>
              <li>
                <a class="hover:text-slate-600 dark:hover:text-slate-300" href="#build-manifest">Настройка манифеста</a>
              </li>
              <li>
                <a class="hover:text-slate-600 dark:hover:text-slate-300" href="#onesignal-class">Создание класса для OneSignal</a>
              </li>
            </ol>
          </li>

          <li>
            <h3>
              <a class="font-normal text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-300" href="/#create-web-view">Создаем WebView</a>
            </h3>

            <ol role="list" class="mt-2 space-y-3 pl-5 text-slate-500 dark:text-slate-400">
              <li>
                <a class="hover:text-slate-600 dark:hover:text-slate-300" href="#logic-for-web-view-client">Логика WebViewClient</a>
              </li>

              <li>
                <a class="hover:text-slate-600 dark:hover:text-slate-300" href="#save-cookies">Сохранение Cookies</a>
              </li>
            </ol>

          </li>

        </ol>
      </div>

      <div class="col-span-12 md:col-span-9 lg:col-span-8 xl:col-span-8 mx-8 lg:mx-0">
        <div class="">
          <div>
            <p class="font-display text-sm font-medium text-sky-500 mb-2">Первые шаги</p>
            <div>
              <div id="create-project">
                <h2 class="font-display text-3xl tracking-tight text-slate-900 dark:text-white mb-6">
                  Создаем проект
                </h2>
                <p class="text-base font-normal text-gray-500/75 text-slate-500 dark:text-gray-200/75">
                  Можно пойти по двум путям, первый из которых - просто <a href="/resources/download/Стартовый%20пакет.zip" class="underline dark:text-gray-300">скачать</a> готовый исходник со всеми библиотеками.
                  Второй путь - все сделать самим. Открываем Android Studio, создаем новый проект и выбираем в открывшимся окне <span class="underline">Basic Activity</span>,
                  задаем любое имя проекта, любое имя пакета, выбираем любой язык, но все примеры
                  на данном сайте написаны на Kotlin, поэтому рекомендуем вам выбирать его. Минимальный SDK - 23.
                  Галочку на <span class="underline">Use legacy android.support libraries</span> не ставим.
                  Жмем на <span class="underline">Finish</span> и ждем, пока студия откроет проект.
                </p>
              </div>

              <div class="mt-16" id="install-libs">
                <h2 class="font-display text-3xl tracking-tight text-slate-900 dark:text-white mb-6">
                  Устанавливаем библиотеки
                </h2>

                <p class="text-base font-normal text-gray-500/75 text-slate-500 dark:text-gray-200/75">
                  После того, как ваш проект собрался, необходимо установить нужные библиотеки.
                  В вашем проекте должны быть следующие библиотеки: <span class="underline">OneSignal</span>.
                  Чтобы их установить, вы должны вставить в свой проект пару новых строк.
                  В файл <span class="font-mono">build.gradle</span> (первый файл в графе "Gradle Scripts") добавьте строку:
                </p>

                <div class="my-4 text-sm font-mono dark:bg-gray-800/50 rounded text-black dark:text-white border border-gray-200 dark:border-gray-800">
                  <div class="border-b border-gray-200 dark:border-gray-800 px-4 py-2">
                    build.gradle (первый файл в графе "Gradle Scripts")
                  </div>

                  <div class="prism-code language-shell px-4 py-2 ">
                    <div class="opacity-50">buildscript {</div>
                    <div class="opacity-50 ml-4">dependencies {</div>
                    <div class="opacity-100 ml-8">
                      <span class="text-green-500">classpath 'gradle.plugin.com.onesignal:onesignal-gradle-plugin:0.14.0'</span>
                      <span class="opacity-50">// OneSignal</span>
                    </div>
                    <div class="opacity-50 ml-8">...</div>
                    <div class="opacity-50 ml-4">}</div>
                    <div class="opacity-50">}</div>
                    <div></div>
                    </code>
                  </div>
                </div>

                <p class="text-base font-normal text-gray-500/75 text-slate-500 dark:text-gray-200/75">
                  Во второй файл <span class="font-mono">build.gradle</span> нужно добавить строки, приведенные ниже.
                </p>

                <div class="my-4 text-sm font-mono dark:bg-gray-800/50 rounded text-black dark:text-white border border-gray-200 dark:border-gray-800">
                  <div class="border-b border-gray-200 dark:border-gray-800 px-4 py-2">
                    build.gradle (второй файл в графе "Gradle Scripts")
                  </div>

                  <div class="prism-code language-shell px-4 py-2 ">
                    <div class="opacity-50">plugins {</div>
                    <div class="opacity-100 ml-4">
                      <span class="text-green-500">id 'com.onesignal.androidsdk.onesignal-gradle-plugin'</span>
                      <span class="opacity-50">// OneSignal</span>
                    </div>
                    <div class="opacity-50 ml-4">...</div>
                    <div class="opacity-50">}</div>
                    <div class="opacity-50 mt-6">dependencies {</div>
                    <div class="opacity-100 ml-4 text-green-500">implementation 'com.onesignal:OneSignal:[4.0.0, 4.99.99]'</div>
                    <div class="opacity-50">}</div>
                    <div></div>
                    </code>
                  </div>
                </div>

                <p class="text-base font-normal text-gray-500/75 text-slate-500 dark:text-gray-200/75">
                  После чего нужно нажать на пункт <span class="underline">Sync now</span> и после на иконку молоточка (<img
                      src="/resources/img/noun-hammer-1390973.svg" alt="" class="mx-1 pb-1 pt-1.5 px-1 rounded w-6 inline bg-white shadow dark:bg-gray-800">) в верхней части Android Studio.
                </p>
              </div>

              <div class="mt-16" id="build-manifest">
                <h2 class="font-display text-3xl tracking-tight text-slate-900 dark:text-white mb-6">
                  Настройка манифеста
                </h2>
                <p class="text-base font-normal text-gray-500/75 text-slate-500 dark:text-gray-200/75">
                  В манифест нужно добавить права на доступ к интернету, создать класс для работы OneSignal,
                  разрешить доступ к ссылкам без https:// и настроить пункт <span class="font-mono">configChanges</span>.
                  В ваш манифест вам необходимо добавить все зеленые строки.
                </p>

                <div class="my-4 text-sm font-mono dark:bg-gray-800/50 rounded text-black dark:text-white border border-gray-200 dark:border-gray-800">
                  <div class="border-b border-gray-200 dark:border-gray-800 px-4 py-2">
                    AndroidManifest.xml
                  </div>

                  <div class="prism-code language-shell px-4 py-2 overflow-hidden">
                    <div class="opacity-50">&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;</div>
                    <div class="opacity-50">&lt;manifest xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot;</div>
                    <div class="opacity-50 ml-4">package=&quot;org.masloff.winbet&quot;&gt;</div>
                    <div class="opacity-100 text-green-500 my-4 ml-12">&lt;uses-permission android:name=&quot;android.permission.INTERNET&quot; /&gt;</div>
                    <div class="opacity-50 ml-12">&lt;application</div>
                    <div class="opacity-100 mt-4 text-green-500 ml-16">android:name=".OneSignalApp"</div>
                    <div class="opacity-100 mb-4 text-green-500 ml-16">android:usesCleartextTraffic="true"</div>
                    <div class="opacity-50 ml-16">...></div>
                    <div class="opacity-50 ml-16 mt-4">&lt;activity</div>
                    <div class="opacity-100 text-green-500 ml-20">
                      android:configChanges="keyboardHidden|keyboard|orientation|screenSize|screenLayout">
                    </div>
                    <div class="opacity-50 ml-24">...</div>
                    <div class="opacity-50 ml-16">&lt;/activity></div>
                    <div class="opacity-50 ml-12">&lt;/application></div>
                    <div class="opacity-50">&lt;/manifest></div>
                  </div>
                </div>


              </div>

              <div class="mt-16" id="onesignal-class">
                <h2 class="font-display text-3xl tracking-tight text-slate-900 dark:text-white mb-6">
                  Создание класса для OneSignal
                </h2>
                <p class="text-base font-normal text-gray-500/75 text-slate-500 dark:text-gray-200/75">
                  В каждое приложение мы шлем промо уведомления, за которые отвечает OneSignal.
                  Для его корректной работы требуется создать класс с любым именем, для примера это будет файл <span class="font-mono">OneSignalApp.kt</span>.
                  Его содержание должно быть следующим:
                </p>

                <div class="my-4 text-sm font-mono dark:bg-gray-800/50 rounded text-black dark:text-white border border-gray-200 dark:border-gray-800">
                  <div class="border-b border-gray-200 dark:border-gray-800 px-4 py-2">
                    OneSignalApp.kt
                  </div>

                  <div class="prism-code language-shell px-4 py-2 overflow-hidden">
                    <div class="opacity-50">class OneSignalApp : Application() {</div>
                    <div class="opacity-50 ml-4">override fun onCreate() {</div>
                    <div class="opacity-50 ml-8">super.onCreate()</div>
                    <div class="opacity-50 ml-8 mt-4">OneSignal.setAppId("<strong>{ТУТ КЛЮЧ OneSignal}</strong>")</div>
                    <div class="opacity-50 ml-8">OneSignal.initWithContext(this)</div>
                    <div class="opacity-50 ml-4">}</div>
                    <div class="opacity-50">}</div>
                  </div>
                </div>

                Вы так же можете <a class="underline" href="https://taptap.wtf/5c2zWk">узнать о подключении OneSignal из их документации</a>.
              </div>
            </div>
          </div>

          <div class="mt-12">
            <p class="font-display text-sm font-medium text-sky-500 mb-2">Работа с WebView</p>

            <div>
              <div id="create-project">
                <h2 class="font-display text-3xl tracking-tight text-slate-900 dark:text-white mb-6">
                  Создаем WebView
                </h2>
                <p class="text-base font-normal text-gray-500/75 text-slate-500 dark:text-gray-200/75">
                  Суть веб-вью в наших приложениях - если произошел редирект по ссылке, которую мы загрузили изначально,
                  то мы должны показать веб-вью пользователю. Если редирект не произошел, то веб-вью показывать не нужно.
                </p>

                <p class="mt-4 text-base font-normal text-gray-500/75 text-slate-500 dark:text-gray-200/75">
                  В <span class="font-mono">main_activity.xml</span> создайте объект <span class="font-mono">&lt;WebView></span> с любым ID.
                  В коде <span class="font-mono">MainActivity.kt</span> обратитесь к <span class="font-mono">WebView</span> и задайте этому веб-вью
                  <span class="font-mono">webViewClient</span> и <span class="font-mono">webChromeClient</span>.
                </p>

                <div class="my-4 text-sm font-mono dark:bg-gray-800/50 rounded text-black dark:text-white border border-gray-200 dark:border-gray-800">
                  <div class="border-b border-gray-200 dark:border-gray-800 px-4 py-2">
                    MainActivity.kt
                  </div>

                  <div class="prism-code language-shell px-4 py-2 overflow-hidden">
                    <div class="opacity-50">class MainActivity : AppCompatActivity() {</div>
                    <div class="opacity-50 ml-4">override fun onCreate(savedInstanceState: Bundle?) {</div>
                    <div class="opacity-50 ml-8">val web = WebView(this)</div>
                    <div class="opacity-50 ml-8 mt-4">web.webChromeClient = object : WebChromeClient() {}</div>
                    <div class="opacity-50 ml-8 mt-4">web.webViewClient = object : WebViewClient() {}</div>
                    <div class="opacity-50 ml-8 mt-4">web.visibility = View.GONE</div>
                    <div class="opacity-50 ml-8 mt-4">web.loadUrl("<strong>{ТУТ URL}</strong>")</div>
                    <div class="opacity-50 ml-4">}</div>
                    <div class="opacity-50">}</div>
                  </div>
                </div>

                <p id="logic-for-web-view-client" class="mt-4 text-base font-normal text-gray-500/75 text-slate-500 dark:text-gray-200/75">
                  После чего вам нужно написать логику для объекта WebViewClient.
                  Логика следующая: если первоначальный url не совпадает с адресом после загрузгрузки страницы,
                  показываем пользователю веб-вью, если нет - не показываем.
                </p>

                <div class="my-4 text-sm font-mono dark:bg-gray-800/50 rounded text-black dark:text-white border border-gray-200 dark:border-gray-800">
                  <div class="border-b border-gray-200 dark:border-gray-800 px-4 py-2">
                    MainActivity.kt
                  </div>

                  <div class="prism-code language-shell px-4 py-2 overflow-hidden">
                    <div class="opacity-50">val host = Uri.parse("<strong>{ТУТ URL}</strong>")</div>
                    <div class="opacity-50 mt-4">object : WebViewClient() {</div>
                    <div class="opacity-50 ml-4">override fun doUpdateVisitedHistory(view: WebView?, url: String?, isReload: Boolean) {</div>
                    <div class="opacity-50 ml-8">super.doUpdateVisitedHistory(view, url, isReload)</div>
                    <div class="opacity-50 ml-8 mt-4">if (url != null && url.toUri().host != host.toUri().host) {</div>
                    <div class="opacity-50 ml-12">view?.visibility = View.VISIBLE</div>
                    <div class="opacity-50 ml-8">}</div>
                    <div class="opacity-50 ml-4">}</div>
                    <div class="opacity-50">}</div>
                  </div>
                </div>

                <p id="save-cookies" class="mt-4 text-base font-normal text-gray-500/75 text-slate-500 dark:text-gray-200/75">
                  Далее добавляем возможность сохранять Cookie файлы, создавая метод <span class="font-mono">onPageFinished</span>
                </p>

                <div class="my-4 text-sm font-mono dark:bg-gray-800/50 rounded text-black dark:text-white border border-gray-200 dark:border-gray-800">
                  <div class="border-b border-gray-200 dark:border-gray-800 px-4 py-2">
                    MainActivity.kt
                  </div>

                  <div class="prism-code language-shell px-4 py-2 overflow-hidden">
                    <div class="opacity-50">val host = Uri.parse("<strong>{ТУТ URL}</strong>")</div>
                    <div class="opacity-50 mt-4">object : WebViewClient() {</div>
                    <div class="opacity-50 ml-4">override fun onPageFinished(view: WebView?, url: String?) {</div>
                    <div class="opacity-50 ml-8">super.onPageFinished(view, url)</div>
                    <div class="opacity-50 ml-8 mt-4">CookieSyncManager.getInstance().sync()</div>
                    <div class="opacity-50 ml-4">}</div>
                    <div class="opacity-50">}</div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include "components/footer.twig" %}

{% endblock %}