{% extends "root/base.twig" %}

{% block base %}
  {% include "components/nav.twig" %}

  <section class="bg-gray-50 dark:bg-gray-900 h-screen">
    <div class="grid grid-cols-12 h-full">
      <div class="col-span-2 bg-white dark:bg-gray-800/50 border-r border-gray-200 dark:border-gray-700">
        {% include "components/sidebar.twig" %}
      </div>

      <div class="col-span-10 text-black dark:text-white">
        Lorem ipsum dolor.
      </div>
    </div>
  </section>
{% endblock %}