{% extends "root/base.twig" %}

{% block base %}
  {% include "components/nav.twig" %}

  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
      <h2 class="mb-8 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
        {% if isSuccess %}
          Проверка пройдена успешно
        {% else %}
          Исходник не прошел проверку
        {% endif %}
      </h2>
      <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 grid-cols-1 md:grid-cols-2">
        <div>
          <div class="mb-10">
            <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
              <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
              Общая информация об исходнике
            </h3>
            <div class="text-gray-500 dark:text-gray-400">
              <p class="text-gray-500 dark:text-gray-400">Название пакета: <b class="underline">{{ data.packageName }}</b></p>
              <p class="text-gray-500 dark:text-gray-400">Размер проекта: <b>{{ data.projectSize }}</b> bt</p>
            </div>
          </div>
        </div>

        <div>
          <div class="mb-10">
            <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
              <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
              Какие файлы требуют рефакторинга
            </h3>

            <ul class="list-decimal ml-6">
              {% for file, problemsFiles in data.files %}
                {% for problemFileName, compareFiles in problemsFiles|cast_to_array %}
                  {% for index, value in compareFiles %}
                    {% if index == 0 %}
                      <li class="text-gray-500 dark:text-gray-400">
                        <a href="#" class="text-gray-500 dark:text-gray-400 hover:text-blue-500">
                          {{ value }}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="col-span-4">
          <div class="mb-10">
            <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
              <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
              Проблемные файлы исходника
            </h3>

            <div>
              {% for file, problemsFiles in data.files %}
                {% for problemFileName, compareFiles in problemsFiles|cast_to_array %}
                  <div class="dark:bg-gray-800 bg-gray-100/50 rounded mb-8 text-gray-800 dark:text-gray-200 border border-gray-300 dark:border-gray-700">
                    {% for index, value in compareFiles %}
                      {% if index == 0 %}
                        <div class="text-sm w-full py-1 px-2 border-b border-gray-300 dark:border-gray-700">
                          <b>
                            {{ value }}
                          </b>
                        </div>
                      {% else %}
                        {% for item in value %}
                          {% for lines in item %}
                            <div class="border-b border-gray-300 dark:border-gray-700">
                              {% for idx, line in lines %}
                                <div class="flex font-mono text-sm">
                                  <div class="w-12 p-1 border-r border-gray-300 dark:border-gray-700 dark:bg-gray-700/25 bg-gray-300/25">{{ line|to_line[0] }}</div>
                                  <div class="w-full py-1 px-2">{{ line|to_line[1] }}</div>
                                </div>
                              {% endfor %}
                            </div>
                          {% endfor %}
                        {% endfor %}
                      {% endif %}
                    {% endfor %}
                  </div>
                {% endfor %}
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
{% endblock %}