{% extends "root/base.twig" %}

{% block base %}
  <div class="bg-white w-screen h-screen flex flex justify-center content-center items-center dark:bg-gray-900">

    <!-- Main modal -->
    {% if hasError == "EXT_NOT_FOUND" %}
      <div class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex justify-between items-start py-4 px-6 rounded-t border-b border-gray-200 dark:border-gray-600">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                Мы принимам только архивы
              </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
              <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400 mb-0">
                Вы загрузили файл с расширением {{ currentExt }} и типом "{{ currentContentType }}".
                Но мы не принимаем подобные файлы на проверку.
                Пожалуйста, загрузите файл в одном из следующих расширений:
              </p>

              <ol class="text-base leading-relaxed text-gray-500 dark:text-gray-400 my-0 py-0">
                {% for ext in allowExt %}
                  <li>- .{{ ext }}</li>
                {% endfor %}
              </ol>

              <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                Код ошибки: {{ hasError }}
              </p>

              <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400 mb-0">
                Ошибка PHP: {{ phpError }}
              </p>
            </div>
          </div>
        </div>
      </div>
      
    {% elseif hasError == "RO2_UPLOAD_ERROR" %}
      <div class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full md:inset-0 h-modal md:h-full justify-center items-center flex" aria-modal="true" role="dialog">
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex justify-between items-start py-4 px-6 rounded-t border-b border-gray-200 dark:border-gray-600">
              <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                Мы не смогли проверить файл
              </h3>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
              <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400 mb-0">
                Мы загрузили ваш файл на сервер, но не смогли проверить и разобрать его.
                Пожалуйста, проверьте файл, возможно, он поврежден
              </p>

              <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400 mb-0">
                Размер файла: {{ fileSize }}
              </p>

              <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400 mb-0">
                Ошибка PHP: {{ phpError }}
              </p>

              <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                Код ошибки: {{ hasError }}
              </p>
            </div>
          </div>
        </div>
      </div>
    
    {% else %}
      <div class="flex justify-center justify-items-center flex-col justify-between items-start py-4 px-6">
        <div class="flex justify-center text-center justify-items-center flex-col justify-between items-start w-72">
          <h3 class="text-xl text-center w-full font-semibold text-gray-900 dark:text-white">
            Файл поврежден
          </h3>

          <p class="text-center w-full opacity-50 mb-12">
            Мы не смогли разобрать ваш исходник.
            Вероятно, файл поврежден
          </p>

          <img src="/resources/img/3973481.jpg" class="w-full">

          <div class="flex justify-center items-center w-full mt-12">
            <a href="/check">
              <button type="button" class="py-2.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                Проверить другой файл
              </button>
            </a>
          </div>
        </div>
      </div>
    {% endif %}

  </div>
{% endblock %}