{% extends "root/base.twig" %}

{% block base %}
  {% include "components/nav.twig" %}

  <section class="bg-gray-50 dark:bg-gray-900 h-screen">
    <div class="grid grid-cols-12 h-full">
      <div class="col-span-12 lg:col-span-2 bg-white dark:bg-gray-800/50 border-r border-gray-200 dark:border-gray-700">
        {% include "components/sidebar.twig" %}
      </div>

      <div class="col-span-12 lg:col-span-10 text-black dark:text-white">
        <div class="w-full text-sm font-medium text-gray-800 bg-white dark:bg-gray-700/50 dark:text-white">
          {% for report in reports %}
            <a href="/report/{{ report.id }}" class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-700 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
              <span class="opacity-50 w-6 inline">#{{report.id}}</span>
              <span class="w-auto">{{report.packageName}}</span>
              <span class="w-auto">(проблемных файлов: {{report.data|json_decode.files|length}} шт)</span>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}