{% extends "root/base.twig" %}

{% block base %}
  {% include "components/nav.twig" %}

  <section class="bg-gray-50 dark:bg-gray-900 h-screen">
    <div class="grid grid-cols-12 h-full">
      <div class="col-span-12 lg:col-span-2 bg-white dark:bg-gray-800/50 border-r border-gray-200 dark:border-gray-700">
        {% include "components/sidebar.twig" %}
      </div>

      <div class="col-span-12 lg:col-span-10 text-black dark:text-white">
        <div class="w-full text-sm font-medium text-gray-800 bg-white dark:bg-gray-700/50 dark:text-white">
          {% for source in sources %}
            <div class="block py-2 px-4 w-full border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-700 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white">
              <div class="flex justify-between">
                <a href="/overview/source/{{ source.id }}">
                  <div>
                    <span class="opacity-50 w-6 inline">#{{source.id}}</span>
                    <span class="w-auto">{{source.packageName}}</span>
                  </div>

                </a>

                <div class="flex">
                  {% if source.apkPath %}
                    <a class="p-0 m-0 text-green-500" href="/build/download/{{ source.id }}">
                      <svg class="w-3 h-3 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm3.293-7.707a1 1 0 011.414 0L9 10.586V3a1 1 0 112 0v7.586l1.293-1.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>

                      <span>
                        Скачать APK
                      </span>
                    </a>
                  {% else %}
                    <a class="p-0 m-0 text-orange-500" href="/clean/{{ source.id }}">
                      <svg class="w-3 h-3 inline" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd"></path></svg>

                      <span>
                        Собрать APK
                      </span>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endblock %}