<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.2/dist/flowbite.min.css" />

  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.3/dist/flowbite.min.css" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.2/tailwind.min.css" rel="stylesheet"/>
  <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>

  <meta name="theme-color" content="#000000" media="(prefers-color-scheme: light)">
  <meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">
  <title>thewebview – личный помощник </title>
</head>

<body class="bg-gray-50">
{% block base %}{% endblock %}
</body>

{#<script src="https://unpkg.com/flowbite@1.5.2/dist/flowbite.js"></script>#}
<script src="//unpkg.com/alpinejs" defer></script>
<script src="/resources/js/main.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-46XC4GV8Q4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-46XC4GV8Q4');
</script>

</html>